* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
}
.d-flex {
  display: flex;
}
nav .container .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8px;
}
nav .container .inner ul {
  width: 20%;
  display: flex;
}
nav .container .inner ul li {
  width: 25%;
  margin-left: 15px;
}
#sec-1 .container h6 {
  margin-top: 5%;
  font-weight: 600;
  font-size: 65.34px;
  line-height: 82px;
  text-align: center;
  margin-bottom: 10px;
}
#sec-1 .container p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#sec-1 .container .butt {
  text-align: center;
  margin-bottom: 10px;
}
#sec-1 .container .butt button {
  padding: 8px 5%;
  border-radius: 18px;
  font-weight: 600;
  line-height: 24px0;
  font-size: 21.33px;
  border: none;
  background: #285e67;
  color: white;
}
#sec-1 .container .img img {
  width: 48%;
}
.img {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
#sec-2 .inner-1 {
  background: #f4f4f4;
  margin-top: 3%;
  border-radius: 15px;
}
#sec-2 h2 {
  padding-top: 42px;
  margin-left: 12.5%;
  font-weight: 600;
  /* color: #369662; */
  font-size: 50.52px;
  line-height: 62px;
}
#sec-2 .inner-1 .d-flex {
  display: flex;
  margin-top: 2%;
  justify-content: center;
}
#sec-2 .inner-1 .d-flex .layout-1 {
  width: 49%;
}
#sec-2 .inner-1 .d-flex .layout-1 p {
  width: 65%;
}
#sec-2 .inner-1 .d-flex img {
  width: 25%;
}
#sec-2 .inner-1 .d-flex .layout-1 .icon i {
  background: #285e67;
  width: 15%;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
}
#sec-3 .inner-1 {
  margin-top: 5%;
  justify-content: space-between;
  align-items: center;
}
#sec-3 .inner-1 .all-sec-3 h2 {
  font-weight: 600;
  font-size: 50.52px;
  line-height: 62px;
}
#sec-3 .inner-1 .all-sec-3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-block: 15px;
}
#sec-3 .inner-1 .image,
#sec-3 .inner-1 .all-sec-3 {
  width: 49%;
}
#sec-3 .inner-1 .all-sec-3 .d-flex {
  justify-content: center;
  align-items: center;
}
#sec-3 .inner-1 .all-sec-3 .icon {
  border: #285e67 solid 3.5px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  color: #285e67;
}
#sec-3 .inner-1 .all-sec-3 p {
  width: 90%;
}#sec-4{
  background: #f4f4f4;
}
#sec-4 .inner-1 {
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
#sec-4 .inner-1 h2 {
  font-size: 50.52px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}
#sec-4 .inner-1 p {
  /* width: 40%; */
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 24px;
}
#sec-4 .inner-1 .icons {
  display: flex;
  column-gap: 50px;
}
#sec-4 .inner-1 .icons i {
  background: #ebbfae;
  padding: 9px;
  width: 13%;
  border-radius: 5px;
  color: #2a2a2a;
  margin-block: 5px;
}
#sec-4 .inner-1 .image img {
  width: 65%;
}
#sec-4 .inner-1 .image {
  text-align: center;
  width: 35%;
}
#sec-4 .inner-1 .layout {
  width: 45%;
}
footer{
background: #285E67;
padding: 3%;
margin-top: 2%;
}
footer .container{
  width: 90%;
  margin: 0 auto;
}
footer .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  color: #FFFFFF;
}
footer .icons i{
  color:#FFFFFF;
  margin-top: 15px;
  font-size: 18px;
}
footer .inner ul {
  width: 20%;
  display: flex;
}
footer .inner ul li {
  width: 25%;
  margin-left: 15px;
  
}
footer .inner ul li a{
color:#FFFFFF;
}